<div id="teste">
<div id="pie_chart" style="border: black .5px solid; margin: 0px 2px 2px 2px;"></div>
<div id="3d_pie_chart" style="border: black .5px solid; margin: 0px 2px 2px 2px;"></div>
<div id="donut_chart" style="border: black .5px solid; margin: 0px 2px 2px 2px;"></div>

<div id="bar_chart" style="border: black .5px solid; margin: 0px 2px 2px 2px;" ></div>
<div id="line_chart" style="border: black .5px solid; margin: 0px 2px 2px 2px;"></div>
<div id="column_chart" style="border: black .5px solid; margin: 0px 2px 2px 2px;"></div>

</div>