.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

.tabuleiro {
	margin-top: 50px;
    width: 400px;
    height: 400px; 
}

@media screen and (max-width: 450px) {
	.tabuleiro {
		width: 400px;
		height: 400px;
	}
  }

div.principal {
	margin-top: 10px;
}

button.botao {
	margin-top: 10px;
	font-size: 20px;
	background-color: rgba(144, 238, 144, 0.692);
	padding: 15px;
	border-radius: 25%;
	border: 4px solid green;
}

a:link, a:visited {
    background-color: white;
    color: green;
    text-decoration: none;
    border: 4px solid green;
}

a:hover, a:active {
    background-color: lightgreen;
    color: green;
    border: 4px solid green;
}

ul li {
	list-style: none;
	width: 95px;
	height: 95px;
	float: left;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.kz-border-bottom {
	border-bottom: 8px solid #333;
}

.kz-border-right {
	border-right: 8px solid #333;
}

.kz-img-x {
	background-image: url('/assets/imagens/x.png');
}

.kz-img-o {
	background-image: url('/assets/imagens/o.png');
}

.kz-cor-vitoria {
	 background-color: lightgreen;
}